/* Theming */

:root{
    --font: #eee;
    --bg: #2E3440;
    --hover: #4C566A    ;
    --footer: #2E3440;
    --link: #8FBCBB;

} /* variables*/

/* ! Reset */
body, html{ font-size: 18px; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif; box-sizing: border-box;margin: 0;padding: 0;}
*,*:before,*:after{ box-sizing: border-box; }
h1,h2,h3,h4,h5,h6, p, ol, ul{margin: 0;padding: 0;}
ol,ul{list-style-type: none;}
img{height: auto;}
a{text-decoration: none;}
hr{border:none; border-bottom: 1px solid #ddd}


nav ul{
  list-style-type: none;
}

ul{
  list-style-type: circle;
  list-style-position: inside;

}

a{color: var(--link);}
a:hover{
  color: var(--hover);}


body{
  background-color: var(--bg);
  color: var(--font);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.container{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main{
  flex: 1;
}

/* Header */
.header {
    background-color: var(--bg);
    border-bottom: solid 2px var(--hover);
    position: sticky;
    top: 0;
    width: 100%;
    padding: 5px 0;  /* Riduce lo spazio sopra e sotto */
}

/* Logo */
.logo {
    display: inline-block;
    color: var(--link);
    font-size: 40px; /* Ridotto per un look più compatto */
    margin-left: 10px;
    padding: 5px 0; /* Riduce il padding interno */
}

/* Navbar */
.nav {
    padding: 5px 0;  /* Riduce lo spazio sopra e sotto */
}

.menu a {
    display: block;
    padding: 10px 15px; /* Riduce lo spazio nei link del menu */
    color: var(--link);
}



/* Nav menu */
.nav{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--bg);
  overflow: hidden;

}
.menu a{
  display: block;
  padding: 30px;
  color: var(--link);
}
.menu a:hover{
  background-color: var(--hover);
  font-weight: bold;
}

.nav{
  max-height: 0;
  transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}/* Style label tag */

.hamb-line {
  background: var(--font);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
  background: var(--font);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.hamb-line::before{
  top: 5px;
}
.hamb-line::after{
  top: -5px;
}

.side-menu {
  display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}


/* Responsiveness */
@media (min-width: 768px) {
  .nav{
      max-height: none;
      top: 0;
      position: relative;
      float: right;
      width: fit-content;
      background-color: transparent;
  }
  .menu li{
      float: left;
  }
  .menu a:hover{
      background-color: transparent;
      color: var(--hover);

  }

  .hamb{
      display: none;
  }
}


/* ! Title System */
.text-0{font-size: 5rem; line-height: 1;}
h1, .text-1{font-size: 3.4rem;}
h2, .text-2{font-size: 2.2rem;}
h3, .text-3{font-size: 1.5rem;}
h4, p, .text-4{font-size: 1rem;}

h1, h2, h3, h4, p, ol, ul{margin-bottom: 1rem;}
h1, h2, h3, h4 {font-weight: bold; color: var(--font);}
@media (max-width: 768px) {
  .text-0{font-size: 4rem}
}

p, li {
    text-align: justify;
}

/* ! Button system */
.button{font-size: 1.2rem; text-transform: uppercase; font-weight: bold; background: var(--bg); color:var(--font); padding: 14px 25px;display: inline-block;border-radius: 4px}
.button:hover{background: var(--hover);}

.button--small{  padding: 10px 20px;font-size: 1rem;}
.button--round{background: var(--font); color: var(--bg); padding: 15px 30px; border-radius: 100px; font-weight: bold;}
.button--round:hover{background: var(--bg); color:var(--font);}
.button--round-outline{background: transparent; color:var(--font); padding: 15px 30px; border-radius: 100px; font-weight: bold;border: 1px solid var(--font);}
.button--round-outline:hover{background: var(--font); color:var(--bg);}




/* Components
--------------------------------------------------------- */


/* ! Cover */
.cover{
  background: var(--bg);padding: 20px; width: 100%;
  display: flex; flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cover__content{max-width: 600px; margin: 0 auto}

.cover--image{min-height: 600px; color:var(--font); justify-content: flex-end;  text-align: left;}
.cover--image .cover__content{max-width: 1250px; width: 100%;}
.cover--image h1,
.cover--image h2{font-size: 2.4rem;}
.cover--image h3{font-size: 1.4rem;text-transform: uppercase;font-weight: normal;}


/* ! Tiles */

.tiles{min-height: 500px; border-radius: 30px; color:#fff; position: relative;overflow: hidden}
.tiles__label{position: absolute; bottom: 30px; left:30px}
.tiles__content{
  padding: 30px;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
}



/* ! Grid System */
.grid{display: flex; flex-wrap: wrap; width: 100%; margin: 0 auto}
.grid--small{max-width: 900px}
.grid--center{justify-content: center;}
.grid--full{max-width: 100%}

.col-20{width:20%}
.col-25{width:25%}
.col-30{width:30%}
.col-33{width:33.33%}
.col-40{width:40%}
.col-50{width:50%}
.col-60{width:60%}
.col-70{width:70%}
.col-80{width:80%}
.col-90{width:90%}
.col-100{width:100%}

[class*='col-']{padding: 10px;}

.grid--full [class*='col-'],
.grid .grid [class*='col-'] {padding: 0;}


@media (max-width: 768px) {
  [class*='col-']{width: 100%}
  .sma-33{width: 33.33%}
  .sma-50{width: 50%}
  .sma-25{width: 25%}
  .sma-30{width:100%}
}

@media (max-width: 768px) {
    .grid.grid--center {
        align-items: center; /* Centra il contenuto */
    }
    
    .col-30 {
        width: 100%; /* Ogni colonna occupa tutta la larghezza */
        text-align: center; /* Centra il testo */
    }

    .col-30 img {
        max-width: 80%; /* Imposta una larghezza massima per l'immagine */
        height: auto;
    }
}

/* ! Helpers */

.br{border: 1px solid red;}
.img-res{width: 100%;}
.img-res2{width: 90%}
.video-res{width: 100%;height: 100%;overflow: hidden;}
.video-res video{width: 100%;height: 100%;object-fit: cover}
.mt{margin-top: -10px;}
.mt-0{margin-top: 0;}
.mt-1{margin-top: 1rem;}
.mt-2{margin-top: 2rem;}
.mt-3{margin-top: 3rem;}
.mt-4{margin-top: 4rem;}

.mb-0{margin-bottom: 0;}
.mb-1{margin-bottom: 1rem;}
.mb-2{margin-bottom: 2rem;}
.mb-3{margin-bottom: 3rem;}
.mb-4{margin-bottom: 4rem;}

.text-center{text-align: center}
.text-left{text-align: left}
.text-right{text-align: right}

.p-0{padding: 0;}
.p-1{padding: 1rem;}
.p-2{padding: 2rem;}
.p-3{padding: 3rem;}
.p-4{padding: 4rem;}

.pt-0{padding-top: 0;}
.pt-1{padding-top: 1rem;}
.pt-2{padding-top: 2rem;}
.pt-3{padding-top: 3rem;}
.pt-4{padding-top: 4rem;}

.pb-0{padding-bottom: 0;}
.pb-1{padding-bottom: 1rem;}
.pb-2{padding-bottom: 2rem;}
.pb-3{padding-bottom: 3rem;}
.pb-4{padding-bottom: 4rem;}
.line{line-height: 0.9em;}

.icon-small{width: 40px;padding: 8px;}
.icon-white{filter: invert(1);}
.bg-dark{background: #000;}
.text-white{color:#fff}
.v-center{display: flex; justify-content: center; flex-flow: column;align-items: flex-start;}

.font-normal{font-weight: 400;}

.none{display: none;}
@media (max-width: 768px) {
  .sma-none{display: none;}
}

@media (min-width: 768px) {
  .desktop-none{display: none;}
}


time{
  display: inline-block;
  padding: 5px 10px;
  background: var(--footer);
  color: var(--font);
  border-radius: 5px;
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.sep{
  border-bottom: var(--hover) 2px solid;
  margin-bottom: 0;
  margin-top: 0;
}

.tag ul li{
  display: inline-block;
  padding: 5px 10px;
  background: var(--footer);
  color: var(--font);
  border-radius: 5px;
  font-size: 0.8rem;
  margin-bottom: 10px;
  margin-right: 10px;
}

.alan{
  background: -webkit-radial-gradient(circle, rgba(143,188,187,1) 0%, rgba(94,129,172,1) 100%);;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.article-list {
    list-style-type: disc; /* Usa punti elenco */
    padding-left: 20px; /* Indenta il testo */
    text-align: left; /* Mantiene l'allineamento a sinistra */
}

.article-list li {
    margin-bottom: 5px; /* Spazio tra i punti elenco */
    font-size: 1rem;
    color: var(--font);
}


.pgp-key {
    max-width: 800px;
    margin: 20px auto;
    background-color: #1e1e1e; /* Sfondo scuro */
    border: 1px solid #444;
    border-radius: 5px;
    padding: 15px;
    color: #ccc;
    font-family: monospace;
    text-align: left;
    overflow-x: auto;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 1.4;
}



.footer {
    background-color: var(--footer); /* Mantiene lo sfondo */
    color: var(--font); /* Colore del testo */
    text-align: center; /* Centra il testo all'interno */
    padding: 20px 0;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra il contenuto orizzontalmente */
    justify-content: center; /* Centra il contenuto verticalmente */
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-divider {
    border: none;
    border-top: 2px solid var(--hover); /* Colore della linea */
    width: 100%; /* Estende la linea su tutto lo schermo */
    margin: 10px 0; /* Distanza tra la linea e il testo */
}




/* pagination per pagina a lista */

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    background-color: var(--hover);
    color: var(--font);
    text-decoration: none;
    border-radius: 4px;
}

.pagination a.active {
    font-weight: bold;
    background-color: var(--link);
}

.pagination a:hover {
    background-color: var(--link);
}

.code {
    color: #ffcc00;
    font-weight: bold;
    background: #333;
    padding: 10px;
    border-radius: 5px;
}
