{{ partial "header.html" . }}

<div class="grid grid--center">
    <div class="col-50 mt-3">
        <h1 class="text-1 line mb-1">{{ .Title }}</h1>
        {{ if .Date}}
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            Data: {{ .Date.Format "2006-01-02" }}
        </time>
        {{ end }}
<br>


<!-- Lista dei tag  -->
    <div class="tag">
        <ul>
            {{ range .Params.tags }}
                <li><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a></li>
            {{ end }}
        </ul>
    </div>    
    
        <p>{{ .Content }}</p>
    </div>
</div>

{{ partial "footer.html" . }}
